* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
	font-family: 'Open Sans';
    font-size: 16px;
    color: rgba(0, 0, 0, 0.541327);
}

body {
    background: linear-gradient(to bottom, #6e529d 0%,#d97b93 100%);
}
.header {
    display: flex;
    align-items: center;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    background: #ffffff;
    height: 7vh;    
}

.main {
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffffcf;
    height: 91vh;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.header__menu {
    padding: 20px;

    border: none;
}

.header__name {
    flex-grow: 1;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    background: inherit;
}

.header__menu--left {
    width: 3vw;
    background: inherit;
}

.header__menu--right {
    width: 3vw;
}

img.canvasimg {
    width: 150px;
    height: 150px;
}

#can {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    background: url(../assets/img/bg.png);
    height: 500px;
    width: 500px;
    margin-top: 40px;
    background: beige;
    border: 8px solid white
}

.preview__gif--item {
    width: 100%;
}

.frames__item {
    background: beige;
    position: relative;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    margin: 10px;
}

.frames__button {
    width: 30px;
    height: 30px;
    position: absolute;
    background: #666666;
    border: none;
    opacity: .7;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.frames__button:hover {
    opacity: 1;

}

.frames__button--delete {
    right: 0;
    background-image: url('https://png.pngtree.com/svg/20151123/f5b34ce69e.svg')
}

.frames__button--duplicate {
    right: 0;
    bottom: 0;
}

.frames__button--current-frame {
    left: 0;
}
.frames__button--dragndrop {
    left: 0;
    bottom: 0;
}

.toolbar {
    width: 62px;
    position: fixed;
    top: calc(50vh - 100px);
}

.frames__wrapper {
    width: 212px;
    height: 85vh;
    background: #fff;

    position: relative;
    padding-top: 57px;
    margin-top: 40px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.fps {
    background: #666666;
    color: white;
    padding: 17px;
    margin-top: 9px;
    margin-left: 18px;
    border: 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.frames::-webkit-scrollbar {
    width: 6px;
  }
  .frames::-webkit-scrollbar-track-piece {
    background: #ccc;
    border-right: 6px solid #fff;
    border-left: 6px solid #fff;
  }
  .frames::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 8px;
  }

  #frames__create {
    top: -12px;
    margin: 18px;
    padding: 10px 30px 10px 30px;
    position: absolute;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    border: 0;
    background: #666666;
    color: white;
}

.frames {
    padding: 5px;
    overflow-y: scroll;
    height: 75vh;
}

.workspace {
    margin: 10px 30px;
    display: flex;
    justify-content: space-between;
}

.preview {
    margin-top: 40px;
    background: rgb(255, 255, 255);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    height: fit-content;
    padding: 9px;
}

.preview__gif {
    width: 300px;
    height: 300px;
    background: beige;
}


input#paint-bucket, input#choose-color, input#move, input#transform {
    display: none;
}

.toolbar__list, .colors__list {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    background: #A4C954;
}


.toolbar__list label:hover, .toolbar__list label:checked{
    background: #e3e3e3;
}


.slider {
  width: 10rem;
  height: .25rem;
  outline: none;
  border-radius: .25rem;
}
  
.slider::-webkit-slider-thumb {
    width: 1.5rem;
    height: 1.5rem;
    background-color: red;
    border: .25rem solid white;
    border-radius: 1rem;
    cursor: pointer;
}


body {
	width: 100wh;
	height: 90vh;
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, rgb(95, 32, 56), #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}